body {
    background-color: rgba(66, 205, 126, 0.5);
    color: #FFFFFF;
    background-image: url(river2.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Arial, sans-serif;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: rgba(66, 205, 131, .68);
    background-image: url(luggage-2b.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 50%;
    height: 100px;
    font-size: 3em;
    border-radius: 25px;
    padding-top: 25px;
    padding-left: 15px;
    min-width: 720px;
    max-width: 880px;
    margin-left: 85px;
    color: #000000;
    font-family: Baskerville, Georgia, serif;
    text-shadow: 1px 1px 3px #666;
}

h2 {
    background-color: rgba(50, 36, 249, 0.5);
    width: 31.5%;
    height: 100%;
    font-family: Georgia, "Times New Roman", serif;
    padding-left: 6px;
}

p {
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 5px;
    width: 50%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #003300;
}

footer {
    font-style: italic;
    font-size: .75em;
    text-align: center;
}

nav {
    float: left;
    width: 175px;
    font-weight: bold;
    letter-spacing: .1em;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 58%;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: #b3c7e6;
    border-bottom: 1px solid #ffffff;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: rgba(142, 53, 31, 1);
}

nav a:hover {
    color: #869dc7;
    background-color: #eaeaea;
}

ul {
    list-style-type: circle;
}

.uppercase {
    text-transform: uppercase;
}

.hyper {
    font-weight: bold;
    font-size: 120%;
}

.destination {
    color: red;
}

#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 1080px;
    max-width: 1280px;
}

#new {
    color: darkolivegreen;
}
