Enter file contents herebody { background-color: #F0FFFF;
    color: #5B5B5B;}
h1 { background-color: #43CD80;
     color: #000000;}
h2 { background-color: #BDFCC9;}
.destination { color: #B8860B;}
#new { color: #FF8C00}
