body { background-color: #EEE685;
    color: #5E2612;}
h1 { background-color: #C76114;
     color: #800000;}
h2 { background-color: #800000;
     color: #C76114}
.destination { color: #CD3700;}
#new { color: #8A3324}
