body {
    margin-bottom: 100px;
    background-color: #EEE685;
    background-image: linear-gradient(to bottom, #EEE685, #FFFFCC);
    background-repeat: no-repeat;
    color: #5E2612;
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    background-image: url(passport-mini.jpg);
    background-clip: content-box;
    background-repeat: no-repeat;
    float: left;
    height: 100px;
    font-size: 3em;
    text-shadow: 3px 3px 3px #666;
    background-position: right;
    background-color: rgba(223, 128, 32, 1);
    color: #800000;
    font-family: Palatino, Georgia, serif;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
}

h2 {
    background-color: #800000;
    width: 45%;
    color: #C76114;
    font-family: Georgia, Palatino, serif;
    padding-left: 7px;
    margin-top: 50px;
    margin-left: 5px;
}

h4 {
    margin-left: 5px;
}

footer {
    font-size: .70em;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    float: right;
}

nav {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
    max-width: 100%
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: rgba(128, 128, 128, 1);
    border-bottom: 1px solid #ffffff;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: rgba(142, 53, 31, 1);
}

nav a:hover {
    color: #869dc7;
    background-color: #eaeaea;
}

p {
    background-color: rgba(140, 170, 49, 0.5);
    text-indent: 2em;
    min-width: 30%;
    max-width: 50%;
    padding-left: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

ul {
    list-style-type: square;
    min-width: 30%;
    max-width: 85%;
}

.hyper {
    font-weight: bold;
    font-size: 140%;
}

.destination {
    color: #CD3700;
}

.div {
    margin: 0;
}

#container {
    background-color: #F4E8BC;
    width: 90%;
    margin: auto;
    color: #330000;
}

#new {
    color: #8A3324
}

#divmobile {}

#divmobile2 {}
